<template>
  <style>
    .branch-container {
      display: flex;
      flex-direction: row;

    }

    .location {
      display: flex;
      flex-direction: column;
      margin-right: 25px;
    }

    .right-arrow-sep {
      font-size: xx-large;
      margin-right: 25px;
    }
  </style>
  <div class="branch-container">
    <div class="location">
      <label>Source branch</label>
      <label><a href.bind="getBranchLink(pullRequest.source.branch.name)">${pullRequest.source.branch.name}</a></label>
    </div>

    <div class="right-arrow-sep glyphicon glyphicon-arrow-right">

    </div>
    <div class="location">
      <label>Destination branch</label>
      <label><a href.bind="getBranchLink(pullRequest.destination.branch.name)">${pullRequest.destination.branch.name}</a></label>
    </div>
  </div>
</template>
