<template>
  <require from="../avatar"></require>

  <div>
    <h4>Comment Added</h4>
    <avatar user.bind="log.payload.comment.user">
      <span>at ${log.payload.comment.updated_on}</span>
      <div>
        <div innerhtml="${log.payload.comment.content.html | sanitizeHTML}"></div>
        <span>
            <a href.bind="log.payload.comment.links.html.href">Link to comment</a>
            <span if.bind="log.payload.comment.inline">
              (${log.payload.comment.inline.path}:${log.payload.comment.inline.to})
            </span>
        </span>
      </div>
    </avatar>
  </div>
</template>
