<template>
  <require from="../logTable"></require>

  <require from="./comment"></require>
  <require from="./approval"></require>
  <require from="./task"></require>
  <require from="./reviewers"></require>
  <require from="./genericUpdate"></require>
  <require from="./branches"></require>

  <style>
    .pcontainer {
      float: right;
      margin-right: 5%;
      margin-top:25px;
      margin-bottom: 10px;
      max-width: 35%;
    }

    .detail-parent {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-content:stretch;
    }

    .branch-area {
      align-self: flex-end;
    }

    .top-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      align-content:stretch;
      margin-right: 5%;
    }

    .action-area {
      background: #f5f5f5;
      padding: 15px;
    }

  </style>
  <div class="container-fluid detail-parent">
    <h4>Viewing log #${log.id} update for pull request #${log.payload.pullrequest.id} <a href.bind="log.payload.pullrequest.links.html.href">
      ${log.payload.pullrequest.title}
    </a></h4>

    <div class="top-row">
      <div class="action-area">
        <comment if.bind="log.payload.comment" log.bind="log"></comment>
        <approval if.bind="log.payload.approval" log.bind="log"></approval>
        <!--<task if.bind="log.payload.task" log.bind="log"></task>-->
        <generic-update if.bind="showGenericUpdate" log.bind="log"></generic-update>
      </div>
      <div class="branch-area">
        <branches pull-request.bind="log.payload.pullrequest"></branches>
      </div>
    </div>

    <reviewers reviewers.bind="log.payload.pullrequest.participants"></reviewers>

    <log-table title="Related logs" logs.bind="relatedLogs"
               relative-time.bind="log.payload.pullrequest.updated_on"
               highlight-id.bind="log.id"></log-table>


  </div>
</template>
