<template>
  <require from="../logTable"></require>

  <require from="./comment"></require>
  <require from="./approval"></require>
  <require from="./task"></require>
  <require from="./reviewers"></require>
  <require from="./genericUpdate"></require>

  <style>
    .pcontainer {
      float: right;
      margin-right: 5%;
      margin-top:25px;
      margin-bottom: 10px;
      max-width: 35%;
    }

    .detail-parent {
      display: flex;
      flex-direction: column;
    }

  </style>
  <div class="container-fluid detail-parent">
    <!--<h4>Viewing log ${log.id}</h4>-->
    <comment if.bind="log.payload.comment" log.bind="log"></comment>
    <approval if.bind="log.payload.approval" log.bind="log"></approval>
    <!--<task if.bind="log.payload.task" log.bind="log"></task>-->
    <generic-update if.bind="showGenericUpdate" log.bind="log"></generic-update>

    <reviewers reviewers.bind="log.payload.pullrequest.participants"></reviewers>

    <log-table title="Related logs" logs.bind="relatedLogs"
               relative-time.bind="log.payload.pullrequest.updated_on"
               highlight-id.bind="log.id"></log-table>
  </div>
</template>
