<template>
  <require from="../avatar"></require>
  <style>
    .p-parent {
      display: flex;
      flex-direction: row;
    }

    .p-item {
      display: flex;
      flex-direction: row;
      margin-right: 15px;
    }

  </style>
  <div class="container-fluid">
    <span>Reviewers (AT TIME OF THIS ACTION):</span>

    <div class="p-parent">
      <avatar user.bind="p.user" class="p-item" repeat.for="p of reviewers">
        <div if.bind="p.approved" class="glyphicon glyphicon-ok p-item">
        </div>
      </avatar>
    </div>
  </div>

</template>
