<template>
  <require from="bootstrap/css/bootstrap.css"></require>

  <span></span>
  <div class="container-fluid">
    <div class="page-header">
      <h2>${title}</h2>
    </div>
    <div style="width: 95%;">
      <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
          <td width="25">View</td>
          <td width="50">Type</td>
          <td width="10%">Repo</td>
          <td>Title</td>
          <td width="200">Time</td>
        </tr>
        </thead>
        <tr repeat.for="log of logs"> <!-- as-element="compose" view='./log_template.html'> -->
          <td>
            <a route-href="route: detail; params.bind: {id: log.id}">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
          </td>
          <td>${log.type}</td>
          <td>Repo</td>
          <td>${log.payload.pullrequest.title}</td>
          <td>${log.time}</td>
        </tr>
      </table>
    </div>
  </div>
</template>
