<template>
  <require from="./statsTable"></require>
  <require from="./filteredActionsTable"></require>

  <div class="container-fluid">
    <h4>stats</h4>

    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a>Table</a></li>
      <li role="presentation"><a>Chart</a></li>
      <!--<li role="presentation"><a href="#">Profile</a></li>-->
      <!--<li role="presentation"><a href="#">Messages</a></li>-->
    </ul>

    <label>time period
      <select value.bind="selectedTimePeriod">
        <option repeat.for="timeperiod of timePeriods" model.bind="timeperiod">
          ${timeperiod}
        </option>
      </select>
    </label>

    <stats-table title="stats ${timePeriodString}"
                 all-stats.bind="allStats"
                 user.two-way="user"
                 action-filter.two-way="actionFilter">
    </stats-table>

    <div if.bind="actionFilter || user">
      <span click.delegate="clearFilter()"><a href="#stats">(Clear filter Selection)</a></span>
    </div>

    <filtered-actions-table user.bind="user" action-filter.bind="actionFilter"
                              time-period-string.bind="timePeriodString">
    </filtered-actions-table>


  </div>
</template>
