<template>
  <style>
    .table-row-item {
      margin: 1px;
      cursor: pointer; cursor: hand;
    }
  </style>
  <div>
    <h4>${title}</h4>
    <div class="container-fluid">
      <table class="table table-bordered table-condensed table-hover">
        <thead>
        <tr>
          <td repeat.for="col of allStats.columns">
            <div class="table-row-item" click.trigger="itemClicked(null, col.field)">
              ${col.title}
            </div>
          </td>
        </tr>
        </thead>

        <tr repeat.for="row of allStats.rows" model.bind="row">
          <td repeat.for="col of allStats.columns" model.bind="col">
            <div class="table-row-item" click.trigger="itemClicked(row, col.field)">
              <a>
                ${row[col.field]}
              </a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>
